.App {
  text-align: center;
  background-image: url('npcs/Underdark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row-33 {
  align-content: center;
  width: 100vw;
  height: 33vh;
}

.row-34 {
  align-content: center;
  width: 100vw;
  height: 34vh;
}

.npc {
  position: relative;
  display: inline;
  align-content: center;
  text-align: center;
  opacity: 0.5;
}

.npc-image {
  height: 33vh;
}

.npc-name {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 4px;
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hovered {
  opacity: 1;
}